<div class="choice-new-contents">
  
    <div class="choice-main">
        <%= form_with model: @choice, url: check_choices_path, method: :post ,local: true do |f| %>
   

          <div class='list'>
                <h2 class='choice-title-text'><span class='choice-title-text-color'>項目を追加する</span></h2>
                    <div class="choice-text-field">
                      <%= f.text_field :name, class:"bold", placeholder:"項目を入力" %>
                  </div>
            
                    <div class="choice-btn-contents">
                      <%= f.submit "登録" ,class:"choice-btn" %>
                      <%= link_to 'もどる',checks_path, class:"choice-back-btn" %>
                  </div>
              <% end %>
          </div>
      
    </div>

</div>