<div class="items-sell-contents">
  
    <div class="items-sell-mai">
        <%= form_with model: @choice, url: check_choices_path, method: :post ,local: true do |f| %>
        <div class="article-box">

          <div class='list'>
                <h2 class='reason-list-tex'><span class='reason-list-glay-text'>項目を追加する</span></h2>
                    <div class="tit">
                      <%= f.text_field :name, class:"title", placeholder:"項目を入力" %>
                  </div>
            
                    <div class="sell-btn-contents">
                      <%= f.submit "登録" ,class:"sell-btn" %>
                      <%= link_to 'もどる',checks_path, class:"back-btn" %>
                  </div>
              <% end %>
          </div>
      </div>
    </div>

</div>