<div class="wrapper">
  <div class="top-bar">
   <div class='nav-bottom'>
    
    <div class='lists-left'>
    <%= link_to 'アイテム',categories_path ,class: "edit-list" %> </div>
    <div class='lists-left'>
    <%= link_to 'CHECKLIST', checks_path,class: "edit-list" %></div>
    <div class='lists-left'>
    <%= link_to 'PLAN', plans_path,class: "edit-list" %> </div>
    <div class='lists-left'>
    <%= link_to 'カテゴリー追加', "categories/new",class: "edit-list" %> </div>
   
    </div>
  </div>
 </div>
  