<div class="wrapper">
  <div class="top-bar">
   <div class='nav-bottom'>
          <h1 class= "edit-list"></h1>
          <div class='lists-left'>
          <%= link_to 'チェックリスト', checks_path,class: "edit-list" %></div>
          <div class='lists-left'>
          <%= link_to '予定', plans_path,class: "edit-list" %> </div>
          <div class='lists-left'>
          <%= link_to '釣果', fishes_path,class: "edit-list" %></div>
    </div>
  </div>
</div>
  