<%= render "shared/check" %>
 <div class="checks-contents">
  
  <div class="checks-main">
      <h1 class="checks-title">リスト一覧</h1>
    

      <ul class='checks-lists'>     
          <% @checks.each do |check| %>
          <li class='list'>
            <%= link_to check_path(check.id) do %>
             <div class='check-line'>
              <div class='check-title'>
              <%= check.title %>
             </div>
            </div>         
           <% end %>
          </li>
        <% end %>
      </ul>
  </div>
  
  </div>
<%= render "shared/check_footer" %>