<%= form_with model: @category, local: true do |f| %>
  <div class="article-box">
    カテゴリーを登録する
    <%= f.text_field :category, class:"title", placeholder:"カテゴリー入力" %>
    <%= f.submit "登録" ,class:"btn" %>
  </div>
<% end %>