<li class='list'>
     <div class='item-img-content'>
      <%= image_tag fish.image, class: "item-img" %>
    </div>

    <div class='item-info'>
        <h3 class='item-name'>
        <%= fish.name %>
        </h3>
    </div>
</li>
 
          
          
          
        