 <%= render "shared/plan_header" %>
    <div class="items-sell-contents">
         <div class="items-sell-main">
             <div class="contents row">
                <% @plans.each do |plan| %>
                <%= render partial: "plan", locals: { plan: plan } %>
                
                <% end %>
             </div>
         </div>
     </div>

<%= render "shared/footer_plan" %>